<div class="form-group">
	<label for="title">Event Title</label>
	<input id="title" class="form-control" type="text" placeholder="Ex. Country Line Dancing">
</div>
<div id="dayTime" class="form-group clearfix">
	<label id="dayLabel" for="day">Day/Time</label>
	<select id="day" class="form-control inline">
		<option value="Su">Sunday</option>
		<option value="Mo">Monday</option>
		<option value="Tu">Tuesday</option>
		<option value="We">Wendesday</option>
		<option value="Th">Thursday</option>
		<option value="Fr">Friday</option>
		<option value="Sa">Saturday</option>
	</select>
	<label class="hideText inline" for="time">Time</label>
	<input id="time" class="form-control inline" type="text" placeholder="Ex. 7pm - 9pm">
</div>
<div class="form-group">
	<label for="type">Event Type</label>
	<input id="type" class="form-control" type="text" placeholder="An event? A special?">
</div>
<div class="form-group">
	<label for="description">Event Description</label>
	<textarea id="description" class="form-control" rows="3" placeholder="Ex. Join us for a hoe-down like no other."></textarea>
</div>
<button type="submit" class="btn btn-success">Save It</button>