/* fonts */
body {
	font-family: 'Muli', sans-serif;
}

/* helpers */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* browser outdated message */
.browsehappy {
	height: 100%; width: 100%;
	position: absolute;
	z-index: 1000;
	background-color: #1C3664;
	padding-top: 100px;
	color: #FFF;
	text-align: center;
}