#restaurantDetails {
	position: relative;
	min-height: 300px;
	border-radius: 4px;
	border: 1px solid #DDD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);

	h3 {
		width: 40%;
		float: left;
		margin-top: 25px;
	}

	ul.address {
		list-style: none;
		float: left;
		margin: 20px 5%;
		padding: 0;
	}

	img {
		top: 20px; right: 20px;
		position: absolute;
		border-radius: 4px;
		box-shadow: 3px 3px 4px 1px #666
	}

	#getStarted {
		font-size: 1.5em;
		margin-top: 70px;
	}
	#getStarted span {
		-webkit-animation: 2s 'moveIt' ease-in-out infinite alternate;
	}

}

@-webkit-keyframes 'moveIt' {
	from {
		margin-left: 4px;
		margin-right: -4px;
	}
	to {
		margin-left: -8px;
		margin-right: 8px;
	}
}