#restaurantDetails {
	position: relative;
	min-height: 300px;
	border-radius: 4px;
	border: 1px solid #DDD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
	padding: 25px;

	h3 {
		float: left;
		width: 110%;
		margin: 10px 5%;
	}

	h4 {
		clear: both;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	.controls {
		margin-bottom: 15px;
	}

	ul.address {
		float: left;
		clear: left;
		margin: 0 5%;
	}

	img {
		float: left;
		border-radius: 4px;
		margin-bottom: 50px;
		box-shadow: 3px 3px 4px 1px #666;
	}

	#getStarted {
		font-size: 1.5em;
		margin-top: 70px;
	}

	#getStarted span {
		-webkit-animation: 1s 'moveIt' infinite alternate;
	}

	form, 
	p {
		padding: 25px;
	}

	.darkBox ul {
		margin: 15px 0;
	}

}

@-webkit-keyframes 'moveIt' {
	from {
		margin-left: 4px;
		margin-right: -4px;
	}
	to {
		margin-left: -8px;
		margin-right: 8px;
	}
}