@media screen and (max-width: 1200px) {
	.nav > li > a {
		padding: 10px 10px;
	}
}

@media screen and (max-width: 600px) {
	header {
		#addNew {
			top: 0;
			position: relative;
		}
	}
	#restaurantList {
		height: 125px;
	}
	#restaurantList .list-group {
		top: 50px;
		width: 93%; height: 42px;
		position: absolute;
		overflow: hidden;
	}
	#restaurantList .list-group:hover {
		height: auto;
	}
	#restaurantList .list-group:before {
		width: 100%;
		display: block;
		border: 1px #EDEDED solid;
		border-radius: 4px;
		content: "See restaurant list";
		line-height: 42px;
		text-align: center;
	}
	#restaurantList .list-group-item {
		z-index:1001;
	}
	#restaurantList button {
		margin-top: 72px;
		font-size: .75em;
	}

	#restaurantDetails {
		border: none;

		img {
			position: inherit;
		}
		.nav-tabs {
			font-size: .7em;
		}
		.darkBox {
			padding: 5px 15px;
		}
	}
	#getStarted span {
	 	display: none;
	}
}